[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yuliaivanechko
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yuliaivanechko
	label-Verified = -1..+1 group user/yuliaivanechko
	push = group user/yuliaivanechko
	read = group user/yuliaivanechko
	rebase = group user/yuliaivanechko
	removeReviewer = group user/yuliaivanechko
	submit = group user/yuliaivanechko
[access "refs/heads/*"]
	create = group user/yuliaivanechko
	push = +force group user/yuliaivanechko
	pushMerge = group user/yuliaivanechko
	read = group user/yuliaivanechko
[access "refs/tags/*"]
	push = group user/yuliaivanechko
	push = +force group user/yuliaivanechko
